<div>
    <div>
     
      
      Search: <input  *ngIf="!isEditing && !isAdding" list="products" #term type="text" (keyup)="search(term.value)"  [(ngModel)]="name" >
      <datalist id="products">
  <option  *ngFor="let product of products" value={{product.pname}}>
   </datalist>
    
     </div>  
  
    <p><button style="float: right;" *ngIf="!isEditing && !isSearching && !isAdding " (click)="enableAdding()"> Add</button></p>  
    <!--  <p><search  *ngIf="!isAdding && !isEditing" [(names)]="name"></search></p>  -->
	 
	<!-- <p><button  *ngIf="!isAdding && !isEditing " (click)="enableSearching(name)"> Find</button></p>  -->
 
  
    
    <table   rules=rows class="table"  >
			<thead *ngIf="!isEditing && !isAdding ">
				
				<tr>
					 <th style="background-color: rgba(255, 0, 0, 0.2);">ProductName</th>
					<th  style="background-color: rgba(255, 0, 0, 0.3);">ProductType</th>
					<th  style="background-color: rgba(255, 0, 0, 0.4);">ProductCost</th>
					<th  style="background-color: rgba(255, 0, 0, 0.4);">ProductVendor</th>
					<th  style="background-color: rgba(255, 0, 0, 0.5);">Actions</th>
				</tr>
			</thead>
			<tbody *ngIf="products.length === 0 " >
				<tr><td *ngIf="!isAdding" colspan="4">There are no products currently</td></tr>	
			</tbody>

			 <tbody *ngIf="!isEditing && !isSearching  && !isAdding " > 
				<tr *ngFor="let product of products | orderBy : ['pname']">
					<td >{{product.pname}}</td>
					<td >{{product.ptype}}</td>
					<td >{{product.pcost}}</td>
					<td >{{product.vname}}</td>
					<td >
			<button  (click)="enableEditing(product)"> Edit</button> <button   (click)="submitRemove(product)"><i  ></i> Delete</button>
					</td>
				</tr>	
			</tbody>
			
  <tbody *ngIf="isSearching" >
				<tr *ngFor="let product of products  | orderBy : ['pname']">
					<td>{{product.pname}}</td>
					<td>{{product.ptype}}</td>
					<td>{{product.pcost}}</td>
					<td>{{product.vname}}</td>
					<td>
	<button  (click)="enableEditing(product)"> Edit</button> <button   (click)="submitRemove(product)"><i ></i> Delete</button>
					</td>
				</tr>	
			</tbody> 

<form *ngIf="isEditing">
				
					<form  #form="ngForm" (ngSubmit)="submitEdit(product)">
					   <div class="form-group">
							 <input class="form-control" type="text" name="name" [(ngModel)]="product.pname" placeholder="Name" required>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="type" [(ngModel)]="product.ptype" placeholder="ProductType"  required>
						</div>
						<div  class="form-group">
							<input class="form-control" type="long int" style="width:250px;" name="cost" [(ngModel)]="product.pcost" placeholder="Phone"  min="0" required>
						</div>
						<div  class="form-group">
							<input class="form-control" type="text" name="vendorname" [(ngModel)]="product.vname" placeholder="Vendor"  min="0" required>
						</div>
							<button  type="submit" [disabled]="!form.form.valid"> Save</button> <button (click)="cancelEditing()"> Cancel</button>
					</form>
						
				
</form>
		
 
  

  <form  *ngIf="isAdding"  [formGroup]="addProductForm" (ngSubmit)="submitAdd()">
			<div  class="form-group">
			    <input class="form-control" type="text" name="pname" formControlName="pname" placeholder="Name"  >
		
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="ptype" formControlName="ptype" placeholder="Type"  >
	
			</div>
			<div class="form-group">
				<input class="form-control" type="long int" style="width:250px;" name="pcost" formControlName="pcost" placeholder="Cost" >
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="vname" formControlName="vname" placeholder="Vendor"  >
	
			</div>
		<button  type="submit" [disabled]="!addProductForm.valid"> Add</button>
		 <button  (click)="cancelAdd()"> Cancel</button>
		</form>
		</table> 

	     <button  *ngIf="isSearching" (click)="cancelSearch()"> Cancel</button> 
	 
	</div>  

